# Data science tools and Ecosystem

In this notebook, Data science and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Use headings
- Numbered list
- unordered list
- List libraries used by Data Scientists 
- Create a table

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:

- Numpy
- Pandas
- TensorFlow
- Scipy
- Matplotlib
- sciKit-Learn
- Keras
- PyTorch

#### Data Science Tools
---
|Rstudio             |

|Apache Spark        |
  
|Apache Hadoop       |

### Below are a few examples of evaluating arithmetic expressions in Python

(3 + 5) * 2

(2 * 3) + 6

(5 - 4) / 8

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

x = 200 // 60
print(x)

3

## Author

Rodrigo navia